.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: rgba(255, 255, 255, 0.9); }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link:hover {
      color: #3292a6; }
  .navbar .nav-item:last-child {
    padding-right: 0; }

#showcase {
  background-image: url(../img/pexels-brett-sayles-1701188.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto; }
  #showcase .primary-overly {
    background: rgba(50, 146, 156, 0.7);
    min-height: auto;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%; }
    #showcase .primary-overly h1 {
      font-size: 100px; }

#subscribe {
  background: #252525; }

#authors img {
  margin-top: -50px; }

#authors h3 {
  margin-top: 30px; }

#authors .card:hover {
  background: #3292a6;
  color: #fff;
  transition: 0.5s; }
  #authors .card:hover .fa {
    color: #fff; }

#authors .fa {
  font-size: 25px; }

#contact .fa {
  font-size: 25px; }

#contact .fa:nth-child(2) {
  font-size: 10px; }

@media (max-width: 576px) {
  #showcase .primary-overly h1 {
    font-size: 3rem; } }
